.footer {
  width: 100%;
  /* margin-top:100px; */
  position: absolute;
  height: 60px;
  margin: auto;
  text-align: center;
  margin-top: 90px;
  background-color: rgb(92, 28, 92);
}

.footerSpan {
  color: white;
  font-size: 12px;
  padding-top: 20px;
}
